.app--title{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
   
}

.header--links{
    display: flex;

    gap: 20px;
    justify-content: center;
  
}


.header--link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.header--link:hover{
    background-color: #ff8c00;
}